.container{
    text-align: center;
    margin top:23px;
}
table{
    margin: auto;
}
input{
    border: 5px solid rgb(77, 5, 5);
    font-size: 65px;
    text-align: right;
    padding-right: 15px;
}
button{
    font-size: 40px;
    background: rgb(109, 109, 218);
    width: 200px;
    height: 70px;

}